:root {
  --background: #faf8f3;
  --pink: #f789db;
  --blue: #6dbbfd;
  --dark-blue: #269aff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--background);
  font-family: 'Plus Jakarta Sans', sans-serif;

}

header {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo {
  max-width: 13%;
}

.title-logo {
  color: var(--blue);
  font-family: 'Zodiak', serif;
  font-size: 3rem;
}

#add-book {
  background: var(--pink);
  color: var(--dark-blue);
  border-radius: 25px;
  padding: 15px 33px;
  font-size: 1.7rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

#add-book:hover {
  color: transparent;
}

#add-book span {
  position: absolute;
  right: 0;
  margin-right: 68px;
  transition-duration: 0.3s;
}

#add-book:hover span {
  right: 40%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
  color: var(--dark-blue);
  font-size: 2.5rem;
  top: 22%;
}

dialog {
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

dialog .modal-title {
  color: var(--blue);
  font-size: 2rem;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  outline: none;
  border-bottom: 1px solid var(--pink);
  font-size: 1.6rem;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
}

form label {
  font-size: 1.6rem;
  margin-block: 10px;
}

.modal-btns button {
  background: transparent;
  cursor: pointer;
  padding-inline: 30px;
}