:root {
  --orange: #DB5B3E;
  --light-orange: #E96C4B;
  --beige: #DD9F6C;
  --light-beige: #fff2e7;
  --background: #F2E7D2;
  --txt: #605B58;
  --green: #5AAB8C;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html {
  position: relative;
  font-size: 62.5%;
  min-height: 100%;
}

body {
  background: var(--background);
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--txt);
}

button {
  cursor: pointer;
  font-family: inherit;
  color: var(--light-beige);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

button:active {
  box-shadow: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background: var(--background);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;  
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo {
  max-width: 11%;
}

.title-logo {
  color: var(--orange);
  font-family: 'Zodiak', serif;
  font-size: 3rem;
}

#add-book {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--beige);
  border-radius: 25px;
  padding: 10px 35px;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  transition-duration: .4s;
}

#add-book:hover {
  color: transparent;
}

#add-book span {
  position: absolute;
  right: 0;
  margin-right: 73px;
  transition-duration: .4s;
}

#add-book:hover span {
  right: 40%;
  top: 5px;
  margin: 0;
  color: var(--light-beige);
  font-size: 2rem;
  transition-duration: .4s;
}

/* modal */
dialog {
  background: var(--light-beige);
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

dialog .modal-title {
  color: var(--orange);
  font-size: 2rem;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  outline: none;
  border-bottom: 1px solid var(--beige);
  background: transparent;
  font-size: 1.6rem;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
}

form label {
  font-size: 1.6rem;
  margin-block: 10px;
}

label[for="read"] {
  display: flex;
  gap: 10px;
  justify-content: center;
}

form input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  font:inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.19rem solid var(--txt);
  border-radius: 0.4em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

form input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em ;
  color: var(--orange);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#submit-book,
#close-modal {
  margin: 10px;
  padding: 10px 30px;
  border-radius: 13px;
  font-size: 1.5rem;
  font-weight: 600;
}

#submit-book,
.have-read {
  background: var(--green);
}

#close-modal,
.not-read {
  background: var(--light-orange);
}

#submit-book:hover,
#close-modal:hover {
  opacity: 0.9;
}

/* cards */
.cards-container {
  margin: 180px 250px 100px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-radius: 18px;
  background: var(--light-beige);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--beige);
}

.card-author {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.card-pages {
  font-size: 1.7rem;
}

/* read status and remove buttons */
.read-status,
.remove-card {
  width: 80%;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.read-status {
  margin: 10px;
}

.read-status:hover {
  opacity: 0.8;
}

.remove-card {
  color: inherit;
  background: transparent;
  border: 1px solid var(--orange);
}

.remove-card:hover {
  background: var(--orange);
  opacity: 0.7;
  color: var(--light-beige)
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 15px;
}

footer span {
  font-weight: bold;
}

footer img {
  transition: transform .2s;
}

footer img:hover {
  transform: scale(1.2);
}
