:root {
  --orange: #DB5B3E;
  --light-orange: #E96C4B;
  --beige: #DD9F6C;
  --light-beige: #fff2e7;
  --background: #F2E7D2;
  --txt: #605B58;
  --green: #5AAB8C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--background);
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--txt)
}

button {
  cursor: pointer;
}

header {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo {
  max-width: 11%;
}

.title-logo {
  color: var(--orange);
  font-family: 'Zodiak', serif;
  font-size: 3rem;
}

#add-book {
  background: var(--beige);
  color: var(--light-beige);
  border-radius: 25px;
  padding: 15px 33px;
  font-size: 1.7rem;
  font-weight: 600;
  position: relative;
}

#add-book:hover {
  color: transparent;
}

#add-book span {
  position: absolute;
  right: 0;
  margin-right: 68px;
  transition-duration: 0.3s;
}

#add-book:hover span {
  right: 40%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
  color: var(--light-beige);
  font-size: 2.5rem;
  top: 22%;
}

/* modal */

dialog {
  background: var(--light-beige);
  text-align: center;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

dialog .modal-title {
  color: var(--orange);
  font-size: 2rem;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  outline: none;
  border-bottom: 1px solid var(--beige);
  background: transparent;
  font-size: 1.6rem;
  padding: 10px;
  margin: 5px;
  font-family: inherit;
}

form label {
  font-size: 1.6rem;
  margin-block: 10px;
}

.modal-btns button {
  background: transparent;
  padding-inline: 30px;
}


/* cards */
.cards-container {
  margin: 100px 250px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  border-radius: 18px;
  background: var(--light-beige);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.card-title {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  color: var(--beige);
}

.card-author {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.card-pages {
  font-size: 1.7rem;
}

/* read status and remove buttons */
.read-status,
.remove-card {
  width: 80%;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.read-status {
  margin: 10px;
  color: var(--light-beige);
}

.read-status:hover {
  opacity: 0.8;
}

.read-status:active {
  box-shadow: none;
}

.remove-card {
  color: inherit;
  background: transparent;
  border: 1px solid var(--orange);
}

.remove-card:hover {
  background: var(--orange);
  opacity: 0.7;
  color: var(--light-beige)
}

.not-read {
  background: var(--light-orange);
}

.have-read {
  background: var(--green);
}
